@import url('https://fonts.googleapis.com/css?family=Open+Sans:bi');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Arvo');

p{
    font-family: 'Montserrat', serif;
}

#educationTitle, #technicalSkillsTitle, #projectTitle{
    font-family: 'Open Sans', serif;
    font-size: 35px;
}

#welcomeTitle{
    font-family: 'Bungee Inline', serif;
    font-size: 50px;
}

#welcomeParagraph{
    font-style: italic;
}

.navbar-nav{
    font-family: 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
}

.carousel-inner > .item > .carousel-caption > div > h3{
    font-family: 'Arvo', serif;
    font-weight: bold;
}