#myFooter {
	background-color: #373a48;
	color:white;
	padding-bottom:35px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 8px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .linkedIn:hover{
	color:#04669A;
}

#myFooter .google:hover{
	color:#C20806;
}

#myFooter .github:hover{
	color: #040204;;
}

/*@media screen and (max-width: 767px){*/
	/*#myFooter {*/
		/*text-align: center;*/
	/*}*/
/*}*/

#copyright {
	text-align: center;
}
/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#iframe_footer{
	bottom: 0;
}