label {
    float: left;
}

#technicalSkillsTitle, #softSkillsTitle{
    text-align: center;
    font-weight: bold;
    color: black;
}

#softSkillsTab, #highSchoolTab, #postSecondaryTab, #technicalSkillsTab{
    cursor: pointer;
}

#iframe_footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 56px;
}

body{
    overflow-x: hidden;
    margin-bottom: 90px;
}

#welcome{
    text-align: center;
    font-weight: bold;
}

#welcomeParagraph{
    text-align: center;
}

/* Timeline settings*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background: #456990;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
}
/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background-color: #A72A3F;
    padding: 10px 0;
    margin-top: -50px;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1{
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: #283A90;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 60px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 30px;
    background: #F45B69;
    color: #ffffff;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;

}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #F45B69;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #F45B69;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
    }
}

/* end Timeline css settings*/

#homeTab{
    margin-top: 50px;
}

section{
    margin-top:-10px;
}

.container h1{
    height:100px;
}

#technicalSkillsHeader{
    margin-top: -10px;
}
#softSkillsHeader{
    margin-top: -20px;
}

#technicalSkillsBody{
    margin-top: -30px;
}

#softSkillsBody{
    margin-top: -30px;
}

#navbar_body{
    position: relative; /* required */
    padding-top: 60px;	/* prevent content to go underneath the fixed navbar */
}

#main_body{
    background-color: #f0f8ff;
}
