<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Stefan's education</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- My custom javascript and css includes -->
        <script src="../js/NavbarController.js"></script>
        <script src="../js/WindowController.js"></script>
        <script src="../js/MainController.js"></script>
    </head>

    <body>

        <section id="educationHeader" class="intro">
            <div>
                <h1>My education</h1>
            </div>
        </section>

        <section class="timeline">
            <ul>
                <li>
                    <div>
                        <time>June 2014</time> Graduated with a High School Diploma from Centre scolaire Léo-Rémillard.
                    </div>
                </li>
                <li>
                    <div>
                        <time>September 2014</time> Began studying computer science at University of Manitoba.
                    </div>
                </li>
                <li>
                    <div>
                        <time>September 2016</time> Joined the computer science Co-op Program at the University of Manitoba.
                    </div>
                </li>
                <li>
                    <div>
                        <time>January 2017</time> Began working at Agriculture and Agri-Food Canada as a Programmer/Analyst for Work Term 1.
                    </div>
                </li>
                <li>
                    <div>
                        <time>May 2017</time> Finished Work Term 1 and went back to classes.
                    </div>
                </li>
                <li>
                    <div>
                        <time>August 2017</time> Began working at Investors Group as a Associate Software Developer for Work Term 2.
                    </div>
                </li>
            </ul>
        </section>
    </body>
</html>