<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">

    <div class="item active">
        <img src="images/loginPrototype_home.png" alt="loginPrototype_home_page">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Home Page</h3>
            </div>
            <div>
                <p>This is a prototype for an app login. The user can register(or make an account) and then log in to the app. The code for this app can be used for other apps that need a user to have an account to access the app.</p>
            </div>
            <div>
                <!--<a id="downloadLink" href="apks/loginPrototype.apk" download>Download</a>-->
                <a id="sourceLink" href="https://github.com/stefc2017/LoginPrototype">Source</a>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="images/loginPrototype_home2.png" alt="loginPrototype_home2_page">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Home Page</h3>
            </div>
            <div>
                <p>This app has a lot of business-logic for doing error checking to make sure the fields are filled and the information matches the records in the database.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="images/loginPrototype_register.png" alt="loginPrototype_register_page">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Register Page</h3>
            </div>
            <div>
                <p>The business-logic will make a call to the database to make sure there is no previous entry in the database with the same username to avoid duplicate entries.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="images/loginPrototype_register2.png" alt="loginPrototype_register2_page">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Register Page</h3>
            </div>
            <div>
                <p>On submit the business-logic will make sure every field matches what is supposed to be entered and will make sure the password and re-entered password matches.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="images/loginPrototype_login.png" alt="loginPrototype_login_page">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Login</h3>
            </div>
            <div>
                <p>A call will be made to make sure the username entered is found in the database and that the password entered matches the password in the database for that username.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="images/loginPrototype_loggedIn.png" alt="loginPrototype_loggedIn">
        <div class="carousel-caption">
            <div>
                <h3>LoginPrototype Logged In</h3>
            </div>
            <div>
                <p>After the credentials are verified, the user gets in the app and then this is where the content for that user would appear. The back button is disabled on the phone so the user can't log out and come back in.</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>
</html>