<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">

    <div class="item active">
        <img src="../images/programmerDevTools_home.png" alt="programmerDevTools_home_page">
        <div class="carousel-caption">
            <div>
                <h3>Programmer Dev Tools Home Page</h3>
            </div>
            <div>
                <p>My first android app that I made. I self taught myself how to make android apps in Android Studio by following the Android development guides and experimenting.</p>
            </div>
            <div>
                <a style="margin-right: 40px" href="../apks/programmerDevTools.apk" download>Download</a>
                <a href="https://github.com/stefc2017/ProgrammerDevTools">Source</a>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_converter.png" alt="programmerDevTools_converter_page">
        <div class="carousel-caption">
            <div>
                <h3>Programmer Dev Tools Converter</h3>
            </div>
            <div>
                <p>During my university courses in computer science, I always wished I had an app that was easy to use to convert from one unit to another. You can even choose how many bits to display for binary numbers.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_sql.png" alt="programmerDevTools_sql_page">
        <div class="carousel-caption">
            <h3>Programmer Dev Tools Sql</h3>
            <p>The users of my app can practice their sql writing by choosing to insert, remove or search for data in the database. There is even instructions on how to make sql statements.</p>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_modal.png" alt="programmerDevTools_modal_page">
        <div class="carousel-caption">
            <h3>Programmer Dev Tools Modal</h3>
            <p>When the user clicks on the question mark beside the action to perform on the database, a modal pops up with instructions on how to create a sql statement for that action.</p>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_insert.png" alt="programmerDevTools_insert_page">
        <div class="carousel-caption">
            <h3>Programmer Dev Tools Insert</h3>
            <p>This page displays the table name and the columns in the database along with their data type so that the user can make sql queries easily and learn how to do so for the future</p>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_search.png" alt="programmerDevTools_search_page">
        <div class="carousel-caption">
            <h3>Programmer Dev Tools Search</h3>
            <p>The user can search for data and filter it by a certain column, ascending or descending order and even how many results to display.</p>
        </div>
    </div>

    <div class="item">
        <img src="../images/programmerDevTools_results.png" alt="programmerDevTools_results_page">
        <div class="carousel-caption">
            <h3>Programmer Dev Tools Results</h3>
            <p>This page displays all the results based on the filters chosen on the previous page. The results can span many pages depending on how many entries are in the database and that functionality is supported.</p>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>
</html>