<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"href="css/projects.css"/>
</head>
<body>

<div id="projectsContainer">
    <br/>
    <h2 id="projectTitle" >Projects</h2>

    <form autocomplete="off">
        <div class="form-group">
            <label for="projects_select">Select project:</label>
            <select class="form-control" id="projects_select" onchange="changeContent()">
                <option selected="selected">Degree Planner</option>
                <option>LoginPrototype</option>
                <option>ProgrammerDevTools</option>
            </select>
            <br>
        </div>
    </form>

    <div id="myCarousel" class="carousel slide carousel-fit"></div>
</div>

<script>
    $(window).ready(function () {
        $('#myCarousel').load('Templates/degree_planner.html');
    });


    function changeContent(projectName) {
        var selected_option = $('#projects_select option:selected').text();
        console.log("changeContent method - " + selected_option);

        if(selected_option === "Degree Planner"){
            console.log("In Degree Planner if statement");
            $('#myCarousel').load('Templates/degree_planner.html');
            console.log("In Degree Planner if statement after ajax load");
        }
        else if(selected_option === "LoginPrototype"){
            console.log("In LoginPrototype else if statement");
            $('#myCarousel').load('Templates/loginPrototype.html');
            console.log("In LoginPrototype else if statement after ajax load");
        }
        else if(selected_option === "ProgrammerDevTools"){
            console.log("In ProgrammerDevTools else if statement");
            $('#myCarousel').load('Templates/programmerDevTools.html');
            console.log("In ProgrammerDevTools else if statement after ajax load");
        }
    }
</script>
</body>
</html>
