<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"href="css/projects.css"/>
</head>
<body>

<div id="projectsContainer">
    <br/>
    <h2 id="projectTitle" >Projects</h2>

    <form autocomplete="off">
        <div class="form-group">
            <label for="sel1">Select project:</label>
            <select class="form-control" id="sel1">
                <option onclick="changeContent('degree_planner')">Degree Planner</option>
                <option onclick="changeContent('loginPrototype');">LoginPrototype</option>
                <option onclick="changeContent('programmerDevTools')">ProgrammerDevTools</option>
            </select>
            <br>
        </div>
    </form>

    <div id="myCarousel" class="carousel slide carousel-fit"></div>
    </div>
</div>

<script>
    $(window).ready(function () {
        $('#myCarousel').load('Templates/degree_planner.html');
    });


    function changeContent(projectName) {
        console.log("changeContent method called with parameter: " + projectName);
        if(projectName === "degree_planner"){
            console.log("In degree_planner if statement");
            $('#myCarousel').load('Templates/degree_planner.html');
            console.log("In degree_planner if statement after ajax load");
        }
        else if(projectName === "loginPrototype"){
            console.log("In loginPrototype else if statement");
            $('#myCarousel').load('Templates/loginPrototype.html');
            console.log("In loginPrototype else if statement after ajax load");
        }
        else if(projectName === "programmerDevTools"){
            console.log("In programmerDevTools else if statement");
            $('#myCarousel').load('Templates/programmerDevTools.html');
            console.log("In programmerDevTools else if statement after ajax load");
        }
    }
</script>
</body>
</html>
