<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stefan's projects</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- For including html pages -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <!-- My custom javascript and css includes -->
    <script src="../Controllers/WindowController.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div w3-include-html="navbar.html"></div>

<script>
    $(function(){
        w3.includeHTML();
    })
</script>

</body>
</html>