<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stefan's soft skills</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- My custom javascript and css includes -->
        <script src="../js/MainController.js"></script>
    </head>

    <body>

    <div id="softSkillsPage">

        <div id="softSkillsHeader" class="jumbotron">
            <h1> Stéfan's Soft Skills</h1>
        </div>

        <div id="softSkillsBody">
            <h4>Soft skills</h4>

            <div id="softSkills">
                <div class="panel-body">
                    <div class="row">
                        <!-- Left column -->
                        <div class="col-md-6">
                            <span class="progress-label">Positive attitude</span>
                            <div class="progress">
                                <div id="positiveAttitude" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Communication</span>
                            <div class="progress">
                                <div id="communication" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Eagerness to learn</span>
                            <div class="progress">
                                <div id="organization" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Flexible</span>
                            <div class="progress">
                                <div id="flexible" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Problem solving</span>
                            <div class="progress">
                                <div id="problemSolving" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                </div>
                            </div>

                            <span class="progress-label">Organized</span>
                            <div class="progress">
                                <div id="organized" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                </div>
                            </div>
                        </div>

                        <!-- Right column -->
                        <div class="col-md-6 text-right">
                            <span class="progress-label">Strong work ethic / hardworking</span>
                            <div class="progress">
                                <div id="strongWorkEthic" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Team player</span>
                            <div class="progress">
                                <div id="teamPlayer" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Reliable</span>
                            <div class="progress">
                                <div id="reliable" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Punctual</span>
                            <div class="progress">
                                <div id="punctual" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>

                            <span class="progress-label">Time Management</span>
                            <div class="progress">
                                <div id="timeManagement" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                </div>
                            </div>

                            <span class="progress-label">Creative</span>
                            <div class="progress">
                                <div id="creative" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#softSkillsBody").accordion({
            heightStyle: "content"
        });
    </script>
    </body>
</html>