<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Technical skills</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>

        <!-- My custom javascript and css includes -->
        <script src="js/MainController.js"/>
    </head>

    <body>
        <div id="technicalSkillsPage">

            <div id="technicalSkillsHeader">
                <h1 id="technicalSkillsTitle">Technical Skills</h1>
            </div>

            <div id="technicalSkillsBody">

            <!-- Programming languages -->
            <h3>Programming Languages</h3>
                <div id="programmingLanguages">
                    <div>
                        <div class="row">
                            <!-- Left column -->
                            <div class="col-md-6">
                                <span class="progress-label">Java</span>
                                <div class="progress">
                                    <div id="java" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    </div>
                                </div>

                                <span class="progress-label">Android</span>
                                <div class="progress">
                                    <div id="Android" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>

                                <span class="progress-label">C++</span>
                                <div class="progress">
                                    <div id="C++" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    </div>
                                </div>

                                <span class="progress-label">Groovy</span>
                                <div class="progress">
                                    <div id="groovy" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    </div>
                                </div>

                                <span class="progress-label">Python</span>
                                <div class="progress">
                                    <div id="python" class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
                                    </div>
                                </div>
                            </div>

                            <!-- Right column -->
                            <div class="col-md-6 text-right">
                                <span class="progress-label">JavaScript</span>
                                <div class="progress">
                                    <div id="javaScript" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>

                                <span class="progress-label">C</span>
                                <div class="progress">
                                    <div id="C" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    </div>
                                </div>

                                <span class="progress-label">Grails</span>
                                <div class="progress">
                                    <div id="grails" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    </div>
                                </div>

                                <span class="progress-label">Ruby</span>
                                <div class="progress">
                                    <div id="ruby" class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
                                         aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                                    </div>
                                </div>

                                <span class="progress-label">C#</span>
                                <div class="progress">
                                    <div id="c#" class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Technologies and Frameworks</h3>

                <div id="techAndFrameworks">
                    <div class="row">
                        <!-- Left column -->
                        <div class="col-md-6">
                            <span class="progress-label">Git</span>
                            <div class="progress">
                                <div id="Git" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width:97%">
                                </div>
                            </div>

                            <span class="progress-label">HTML</span>
                            <div class="progress">
                                <div id="html" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%">
                                </div>
                            </div>

                            <span class="progress-label">Bootstrap</span>
                            <div class="progress">
                                <div id="bootstrap" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                </div>
                            </div>

                            <span class="progress-label">Maven</span>
                            <div class="progress">
                                <div id="maven" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>

                            <span class="progress-label">SQL</span>
                            <div class="progress">
                                <div id="sql" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                     aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                </div>
                            </div>

                            <span class="progress-label">Spring Security</span>
                            <div class="progress">
                                <div id="spring" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>
                        </div>

                        <!-- Right column -->
                        <div class="col-md-6 text-right">
                            <span class="progress-label">JIRA</span>
                            <div class="progress">
                                <div id="jira" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                </div>
                            </div>

                            <span class="progress-label">CSS</span>
                            <div class="progress">
                                <div id="css" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                </div>
                            </div>

                            <span class="progress-label">jQuery</span>
                            <div class="progress">
                                <div id="jQuery" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width:76%">
                                </div>
                            </div>

                            <span class="progress-label">XML</span>
                            <div class="progress">
                                <div id="XML" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>

                            <span class="progress-label">SQL Developer</span>
                            <div class="progress">
                                <div id="sql-developer" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                     aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                </div>
                            </div>

                            <span class="progress-label">SQLite</span>
                            <div class="progress">
                                <div id="sqlite" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Operating Systems</h3>
                    <div id="Operating_Systems">
                        <div class="row">
                            <!-- Left column -->
                            <div class="col-md-6">
                                <span class="progress-label">Windows 8</span>
                                <div class="progress">
                                    <div id="windows8" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                    </div>
                                </div>

                                <span class="progress-label">Windows 10</span>
                                <div class="progress">
                                    <div id="windows10" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    </div>
                                </div>

                                <span class="progress-label">Android OS</span>
                                <div class="progress">
                                    <div id="androidOS" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                    </div>
                                </div>

                                <span class="progress-label">iOS</span>
                                <div class="progress">
                                    <div id="iOS" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>

                            <!-- Right column -->
                            <div class="col-md-6 text-right">
                                <span class="progress-label">Windows 7</span>
                                <div class="progress">
                                    <div id="windows7" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    </div>
                                </div>

                                <span class="progress-label">Unix/Linux</span>
                                <div class="progress">
                                    <div id="unixlinux" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>

                                <span class="progress-label">macOS</span>
                                <div class="progress">
                                    <div id="MacOS" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Software</h3>
                    <div id="Software">
                        <div class="row">
                            <!-- Left column -->
                            <div class="col-md-6">
                                <span class="progress-label">IntelliJ IDEA</span>
                                <div class="progress">
                                    <div id="intellij" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    </div>
                                </div>

                                <span class="progress-label">Bitbucket</span>
                                <div class="progress">
                                    <div id="bitbucket" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    </div>
                                </div>

                                <span class="progress-label">Jenkins</span>
                                <div class="progress">
                                    <div id="jenkins" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>

                                <span class="progress-label">Tortoise Git</span>
                                <div class="progress">
                                    <div id="tortoiseGit" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>

                                <span class="progress-label">Subversion</span>
                                <div class="progress">
                                    <div id="subversion" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width:72%">
                                    </div>
                                </div>

                                <span class="progress-label">Visual Studio</span>
                                <div class="progress">
                                    <div id="visualStudio" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>
                            </div>

                            <!-- Right column -->
                            <div class="col-md-6 text-right">
                                <span class="progress-label">Android Studio</span>
                                <div class="progress">
                                    <div id="androidStudio" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    </div>
                                </div>

                                <span class="progress-label">Eclipse</span>
                                <div class="progress">
                                    <div id="eclipse" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                    </div>
                                </div>

                                <span class="progress-label">Tortoise SVN</span>
                                <div class="progress">
                                    <div id="tortoiseSVN" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>

                                <span class="progress-label">CA Release Automation</span>
                                <div class="progress">
                                    <div id="CARA" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                    </div>
                                </div>

                                <span class="progress-label">IBM WebSphere</span>
                                <div class="progress">
                                    <div id="websphere" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>

                                <span class="progress-label">Dev-C++</span>
                                <div class="progress">
                                    <div id="dev-c++" class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
                                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

            <script>
                $("#technicalSkillsBody").accordion({
                    heightStyle: "content"
                });
            </script>
    </body>
</html>